[Unit]
Description=burger1 persistent nav2
Requires=burger1-localization.service burger1-motion-owner.service
After=burger1-localization.service burger1-motion-owner.service

[Service]
Type=simple
ExecStart=/bin/bash /home/ubuntu/final_robot_ws/robot/burger1/navigation/launch_nav2.sh
KillSignal=SIGINT
TimeoutStopSec=20
Restart=no
